.main_analysis_section{
    height: calc(100vh - 350px);
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    margin: 20px auto 0px;
    -ms-overflow-style: none; 
    scroll-behavior: smooth;
    scrollbar-width: none;
}