
.logo_image {
    width: 90px;
    height: 90px;
    border-radius: 10px;
    overflow: hidden;
}

.logo_image.score {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    overflow: hidden;
}

/* -------- banner main -------- */

.banner_main{
    position: relative;
    height: 220px;
    overflow: hidden;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.banner_main.active{
    height: 260px;
}

.banner_main::before{
    background-color: black;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
}
.banner_main::after{
    background-color:var(--primary-color);
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    filter: blur(5px);
    box-shadow: var(--shadow-primary);
}

.banner_child_box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 40px;
    position: absolute;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    z-index: 2;
}

.banner_child_box.score {
    justify-content: space-evenly;
    padding: 0 20px;
}

.TossWinner {
    position: absolute;
    top: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    z-index: 3;
}

.TossWinner p {
    font-family: var(--primary-font);
    color: var(--text-white);
    font-size: var(--ex-small);
    font-weight: 600;
}

/* ------ logo image box ------ */

.logo_image_box {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo_image_box.team2{
    flex-direction: row-reverse;
}
.logo_image_box.team2 .logo_child_box{
    align-items: flex-start;
}
.logo_image_box.team2 .logo_superover_child_box {
    align-items: flex-start;
}

.logo_image_box .logo_child_box, .logo_image_box .logo_superover_child_box {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
}

.logo_image_box .logo_child_box .title_name {
    font-size: var(--semi-normal);
    color: var(--text-white);
}

.logo_image_box .logo_child_box .score_number {
    font-size: var(--ex-small);
    color: var(--text-lightgrey);
}

.logo_image_box .logo_superover_child_box .title_name {
    font-size: var(--normal);
    color: var(--text-white);
}

.logo_image_box .logo_superover_child_box .score_number {
    font-size: var(--ex-ex-small);
    color: var(--text-lightgrey);
}

.team_name{
    font-size: var(--ex-small) !important;
    color: var(--text-white);
    text-align: center !important;
    margin-top: 5px !important;
    font-weight: 500 !important;
}