.custome_tags {
    padding: 8px 0 20px 0;
}

.custome_tags label {
    display: block;
    color: var(--theme-primary);
    margin: 0 0 20px 0px;
    font-weight: 600;
    font-size: var(--fs-base);
}

.custome_tags .tags_box {
    display: flex;
    justify-content:start ;
    align-items: center;
    column-gap: 15px;
    row-gap: 20px;
    flex-flow: wrap;
    
}
.custome_tags .tags_box.wrap {
    flex-wrap: wrap;
}

.custome_tags .tags_box.nowrap {
    justify-content: space-around;
}

.tag_Image {
    width: 100px;
    height: 100px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
    transition: all 0.5s ease;
}

.tag_Image.selected {
    background-color: var(--theme-primary);
}

.tag_Image.notSelected {
    background-color: var(--color-white);
}

.tag_Image:hover {
    background-color: var(--theme-primary);
}

.tag_Image .image_tag_box {
    width: 45px;
    height: 45px;
    padding: 6px;
    border-radius: 300px;
    border: 1px solid black;
    transition: all 0.5s;
}

.tag_Image:hover .image_tag_box,
.tag_Image .image_tag_box.active {
    background-color: var(--theme-primary);
    box-shadow: var(--shadow-md);
    transition: all 0.5s;
}

.tag_title {
    padding: 10px 0 0;
    text-align: center;
    font-size: var(--fs-sm)!important;
    color: var(--color-grey-300);
    transition: all 0.5s;
}

.tag_Image:hover .tag_title,
.tag_title.active {
    color: var(--theme-primary);
    font-weight: 500;
}


/* ---------- tag button -------------- */

.tag_button {
    background-color: var(--color-white)!important;
    color: var(--color-grey-300)!important;
    border-radius: 50px!important;
    font-size: var(--fs-sm)!important;
    font-weight: 500!important;
    text-transform: capitalize!important;
    box-shadow: var(--shadow-grey)!important;
    transition: all 0.5s;
    width: auto;
    height: auto;
}

.tag_button:hover,
.tag_button.active{
    color: var(--color-white)!important;
    background-color: var(--theme-primary)!important;
}
.tag_button.break:hover,
.tag_button.activeblue{
    color: var(--color-white)!important;
    background-color: var(--theme-blue-bg)!important;
}

.tag_button.disabled {
    color: var(--color-white)!important;
    background-color: var(--color-grey-300)!important;
    cursor: not-allowed !important;
    pointer-events: visible!important;
    opacity: 0.6;
}


@media screen and (max-width:410px) {
    .tag_Image {
        width: 75px;
        height: 75px;
    }
}
