.custome_error_box{
    background-color: var(--theme-box-blue);
    min-height: 104px !important;
    margin: 30px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 15px;
    color: var(--color-white);
}
.custome_error_box h6 {
    font-size: var( --fs-md);
    font-weight: 400;
    text-align: center;
    color: var(--color-white);
    letter-spacing: .1px;
    line-height: 18px;
}