/* ---- Tab List ---- */

.tablist ul {
    padding: 0;
    margin: 0px 0 25px 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.tablist ul li {
    font-family: var(--primary-font);
    font-size: var(--small);
    font-weight: 700;
    color: var(--primary-color);
    position: relative;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
}

.tablist ul li.active::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -6px;
    height: 1px;
    transition: all 0.5s ease;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 9.39%, #0C1830 50.73%, rgba(255, 255, 255, 0) 98.27%);
}