.auction_player {
    padding: 20px;
}

.auction_player_message {
    margin-block: 40px 25px;
}

.auction_player_section {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 30px;
}

.auction_players_sub_section {
    width: 100%;
    height: 80px;
    background-color: var(--primary-color);
    border-radius: 15px;
    padding: 15px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.auction_player_details{
    display: flex;
    gap: 15px;
    align-items: center;
}

.auction_player_img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
}

.auction_player_img img {
    object-fit: cover;
}

.auction_player_avatar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.auction_player_avatar p {
    color: var(--text-white);
    font-size: var(--semi-normal);
    font-weight: bold;
}

.auction_player_name {
    position: relative;
}

.auction_player_name::before {
    content: '';
    position: absolute;
    background-color: var(--text-white);
    filter: blur(87.5px);
    height: 50px;
    width: 70px;
    top: 0;
    bottom: 0;
    z-index: 0;
    left: -50px;
}

.auction_player_name p {
    color: var(--text-white);
    font-weight: 500;
    font-size: var(--small);
}