.create_auction_players{
    padding: 24px 20px 30px;
}

.file_uploader_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.select_title_section p {
    color: var(--text-grey);
    margin-bottom: 6px;
    margin-left: 10px;
    font-weight: 500;
    font-size: var(--ex-small);
}

.auction_players_form{
    position: relative;
    border: 1px solid var(--primary-color);
    border-radius: 10px;
    padding: 0 10px;
    margin-block: 24px;
}