.create_auction_players{
    padding: 24px 30px 0;
}

.file_uploader_main {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}

.select_title_section p {
    color: var(--text-grey);
    margin-bottom: 6px;
    margin-left: 10px;
    font-weight: 500;
    font-size: var(--ex-small);
}