.live-auction {
    padding: 35px;
    position: relative;
}

.live-auction .live-auction-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live-auction .live-auction-header-main .back_button_box {
    margin: 0;
}

.menu_auction_icon {
    width: 28px;
    height: 28px;
    color: var(--text-black);
}

/* ------------ .au-player-details ---------- */
.au-player-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-top: 30px;
}

.au-player-details .au-pl-img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.au-player-details .au-pl-img h6 {
    font-size: var(--semi-normal);
    color: var(--text-white);
    font-weight: 600;
}

.au-pl-details {
    width: 60%;
}

.au-pl-details .auction-player {
    font-size: var(--semi-normal);
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 10px;
}

.au-pl-details .auction-team-name {
    font-size: var(--small);
    font-weight: 500;
    text-align: center;
    color: var(--text-green);
    margin-top: 5px;
}

.auction-bidding {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blue-background);
    border-radius: 10px;
    padding: 8px 20px;
}

.auction-bidding .bidding-count {
    font-size: var(--large);
    font-weight: 600;
    color: var(--text-white);
}

.auction-bidding svg.gold-coin {
    width: 20px;
    height: 20px;
}

.auction-bidding svg.edit-icon {
    width: 16px;
    height: 16px;
    color: var(--text-grey);
}


.auction-team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 15px 0;
}

/* ======= team card ========= */

.team_card {
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 100%;
    max-width: 178px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.team_card.active-bidder {
    background-color: var(--green);
    opacity: 0.8;
}

.team_card.disable-bidder {
    background-color: var(--gray);
}

.team_card .team-logo {
    width: 56px;
    height: 56px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team_card .team-logo h6 {
    font-size: var(--small);
    color: var(--text-white);
    font-weight: 600;
}

.team_card .team_details h6 {
    font-size: var(--ex-small);
    font-weight: 500;
    color: var(--text-white);
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-start;
}

.team_card .team_details h6 svg {
    width: 16px;
    height: 16px;
}

/* ========= button-group ======== */

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
}

.action-btn {
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
    background-color: var(--text-white) !important;
    color: var(--text-black) !important;
    padding: 12px !important;
    font-size: var(--small) !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    width: 100% !important;
    max-width: 120px !important;
    text-transform: capitalize !important;
}

.action-btn svg {
    width: 19px;
    height: 18px;
    background-color: var(--text-white);
}




/* ======== modal ======= */
.auction_modal {
    padding: 20px 24px;
}

.auction-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auction-modal-header h6 {
    font-size: var(--normal);
    font-weight: 500;
    color: var(--text-black);
}

.auction-modal-header svg {
    width: 18px;
    height: 18px;
    color: var(--text-black);
}

.update-bid-main {
    padding: 20px 0 0;
}


/* player selction manually */
.manual-player-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    background-color: var(--primary-color);
    padding: 10px 8px;
    border-radius: 10px;
}

.player_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auction_player {
    font-size: var(--small) !important;
    font-weight: 600 !important;
    color: var(--text-white);
}

.auction-player-section {
    padding: 20px 0;
}

.manual-player-selection .player-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    box-shadow: var(--shadow-light);
}

.auction-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid var(--text-grey);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auction-checkbox.isSelect {
    background-color: var(--text-white);
}

.auction-checkbox svg {
    width: 20px;
    height: 20px;
    color: var(--primary-color);
}