.live-auction {
    padding: 35px;
    position: relative;
}

.live-auction .live-auction-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.live-auction .live-auction-header-main .back_button_box {
    margin: 0;
}

.menu_auction_icon {
    width: 28px;
    height: 28px;
    color: var(--black);
}

/* ------------ .au-player-details ---------- */
.au-player-details {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 20px;
    border-radius: 15px;
    background-color: var(--primary-color);
    margin-top: 30px;
    position: relative;
}

.au-player-details .au-pl-img {
    width: 90px;
    height: 90px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.au-player-details .au-pl-img h6 {
    font-size: var(--semi-normal);
    color: var(--text-white);
    font-weight: 600;
}

.au-pl-details {
    width: 60%;
}

.au-pl-details .auction-player {
    font-size: var(--semi-normal);
    font-weight: 600;
    color: var(--text-white);
    margin-bottom: 10px;
}

.au-pl-details .auction-team-name {
    font-size: var(--small);
    font-weight: 500;
    text-align: center;
    color: var(--text-green);
    margin-top: 5px;
}

.auction-bidding {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--blue-background);
    border-radius: 10px;
    padding: 8px 20px;
}

.auction-bidding .bidding-count {
    font-size: var(--large);
    font-weight: 600;
    color: var(--text-white);
}

.auction-bidding svg.gold-coin {
    width: 20px;
    height: 20px;
}

.auction-bidding svg.edit-icon {
    width: 16px;
    height: 16px;
    color: var(--text-grey);
}


.auction-team {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
    padding: 15px 0;
}


/* ------ stamp gif ---------- */

/* .stamp-gif {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 65px;
    transform: rotate(30deg);
} */

/* ======= team card ========= */

.team_card {
    background-color: var(--primary-color);
    padding: 10px 15px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 178px;
    transition: all 0.5s ease;
    cursor: pointer;
}

.team_card.active-bidder {
    background-color: var(--green);
    opacity: 0.8;
}

.team_card.disable-bidder {
    background-color: var(--gray);
}

.team_card .team-logo {
    width: 45px;
    height: 45px;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: var(--shadow-light);
}

.team_card .team-logo h6 {
    font-size: var(--small);
    color: var(--text-white);
    font-weight: 600;
}

.team_card .team_details h6 {
    font-size: var(--ex-ex-small);
    font-weight: 500;
    color: var(--text-white);
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: flex-start;
}

.team_card .team_details h6 svg {
    width: 14px;
    height: 14px;
}

/* ========= button-group ======== */
.info-bottom {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 10px;
    width: 100%;
    max-width: 440px;
    margin: 0 auto;
    padding: 0 30px;
}

.button-group {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.action-btn {
    display: flex !important;
    align-items: center !important;
    gap: 12px !important;
    background-color: var(--text-white) !important;
    color: var(--black) !important;
    padding: 8px 12px !important;
    font-size: var(--small) !important;
    font-weight: 600 !important;
    box-shadow: none !important;
    border-radius: 10px !important;
    width: 100% !important;
    max-width: 120px !important;
    text-transform: capitalize !important;
}

.action-btn svg {
    width: 19px;
    height: 18px;
    background-color: var(--text-white);
}


.info-btn-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    background-color: var(--primary-color);
    border-radius: 10px;
    padding: 12px 16px;
}

.info-btn-group svg {
    width: 26px;
    height: 26px;
    color: var(--text-white);
    cursor: pointer;
}

.info-btn-group .info-btn {
    padding: 6px;
    border-radius: 5px;
    background-color: var(--text-grey);
    color: var(--text-white);
    font-size: var(--ex-small);
    font-weight: 500;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    gap: 5px;
}

.info-btn-group .info-btn:nth-child(2) {
    background-color: var(--boundary);
}

.info-btn-group .info-btn:nth-child(3) {
    background-color: var(--text-red);
}

.info-btn-group .info-btn:nth-child(5) {
    background-color: var(--text-green);
}


/* ======== modal ======= */
.auction_modal {
    padding: 20px 24px;
    overflow: hidden;
}

.overflow-player {
    height: calc(100vh - 300px);
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

.auction-modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.auction-modal-header h6 {
    font-size: var(--normal);
    font-weight: 500;
    color: var(--black);
}

.auction-modal-header svg {
    width: 18px;
    height: 18px;
    color: var(--black);
}

.update-bid-main {
    padding: 20px 0 0;
}


/* player selction manually */
.manual-player-selection {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin: 10px 0;
    background-color: var(--primary-color);
    padding: 10px 8px;
    border-radius: 10px;
}

.player_row {
    display: flex;
    align-items: center;
    gap: 10px;
}

.auction_player {
    font-size: var(--small) !important;
    font-weight: 600 !important;
    color: var(--text-white);
}

.auction-player-section {
    padding: 20px 0;
}

.manual-player-selection .player-img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-white);
    box-shadow: var(--shadow-light);
}

.manual-player-selection .player-img p {
    font-weight: 600;
}

.auction-checkbox {
    width: 24px;
    height: 24px;
    border: 1px solid var(--text-grey);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auction-checkbox.isSelect {
    background-color: var(--text-white);
}

.auction-checkbox svg {
    width: 20px;
    height: 20px;
    color: var(--primary-color);
}

/* ------------ message Info --------------- */

.message-info {
    background-color: var(--text-white);
    padding: 10px 15px;
}

.info-details {
    display: flex;
    align-items: center;
    gap: 29px;
    justify-content: space-between;
    padding: 20px 15px;
}

.info-details .info h6 {
    font-size: var(--normal);
    font-weight: 500;
    color: var(--black);
    margin-bottom: 6px;
}

.info-details .info p {
    font-size: var(--small);
    font-weight: 500;
    color: var(--text-grey);
}

.info-details .icon-info {
    background-color: var(--primary-color);
    border-radius: 100%;
    padding: 18px;
    width: 58px;
    height: 58px;
}

.info-details .icon-info svg {
    width: 22px;
    height: 22px;
    color: var(--text-white);
}

.info-divider {
    height: 1px;
    background: linear-gradient(90deg, #FFFFFF 0%, #0C1830 50%, #FFFFFF 100%);
}

.info-close {
    font-size: var(--large);
    font-weight: 600;
    color: var(--text-red);
    text-align: center;
    padding: 10px 0 20px 0;
    cursor: pointer;
}


/* - ----------- auction-player-menu --------- */

.auction-player-menu {
    display: flex;
    align-items: center;
    gap: 8px;
}

.auction-player-menu svg {
    width: 16px;
    height: 16px;
    color: var(--primary-color);
}

.auction-player-menu p {
    font-size: var(--small);
    color: var(--text-primary);
    font-weight: 600;
}


@media screen and (max-width:438px) {
    .live-auction {
        padding: 18px;
        position: relative;
    }

    .button-group {
        gap: 8px;
    }

    .auction-team {
        gap: 8px;
    }

    .team_card {
        padding: 10px 10px;
        max-width: 152px;
    }
   
    .action-btn {
        gap: 8px !important;
        color: var(--black) !important;
        padding: 7px 8px !important;
        max-width: 107px !important;
    }

    .info-bottom {
        padding: 0 6px;
    }
}

@media screen and (max-width:370px) { 
    .info-details .icon-info {
        padding: 10px;
        width: 44px;
        height: 44px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .info-details {
        display: flex;
        align-items: center;
        gap: 15px;
        justify-content: space-between;
        padding: 10px 4px;
    }
}

@media screen and (max-width:348px) {
    .team_card {
        padding: 10px 10px;
        max-width: 100%;
    }
    .info-btn-group {
        gap: 6px;
        padding: 8px 10px;
    }
}