.auction-players-page {
    padding: 30px 30px 0px;
}

.auction-header-main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.auction-header-main .header-title {
    font-size: var(--semi-normal);
    font-weight: 600;
    color: var(--primary-color);
}

.auction-header-main .back_button_box {
    margin: 0;
}

.auction-header-main .auction_icon {
    width: 18px;
    height: 18px;
    color: var(--primary-color);
}

.auction_search_box_main {
    padding: 0px 0 30px;
}

.auctioned_players_data {
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
    height: calc(100vh - 225px);
}

.auctioned_players_data.active {
    height: calc(100vh - 300px) !important;
}