.football-lineup-main-section {
    margin: 20px 20px 0;
    height: calc(100vh - 320px);
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    -ms-overflow-style: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

/* For Safari, Chrome, Edge */
.football-lineup-main-section::-webkit-scrollbar {
    width: 0px !important;
    height: 8px;
}

.football-lineup-main-section::-webkit-scrollbar-track {
    background: transparent !important;
}

.football-lineup-main-section::-webkit-scrollbar-thumb {
    background-color: transparent !important;
    border-radius: 10px !important;
    border: 2px solid transparent !important;
}

/* Optional: Hover effect */
.football-lineup-main-section::-webkit-scrollbar-thumb:hover {
    background-color: transparent !important;
}

.football-lineup-team-switch {
    display: flex;
    justify-content: center;
}

.football-lineup-team-player-data {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.football-lineup-team-players-information {
    margin-top: 30px;
}

.football-lineup-team-players-information h6 {
    font-weight: 600;
    color: var(--theme-primary);
    text-align: center;
    font-size: var(--fs-lg);
    text-transform: uppercase;
}

.football-lineup-team-players-information_lineargradient {
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent 9.39%, #0c1830 50.73%, transparent 98.27%);
    margin: 10px 0 30px 0;
}

.football-lineup-team-players-information p {
    font-size: var(--fs-base);
    font-weight: 500;
    color: var(--theme-primary);
}

.football-lineup-team-players-information span {
    font-size: var(--fs-md);
    font-weight: 600;
    color: var(--theme-primary);
}