.typeBox {
    display: block;
    align-items: center;
    justify-content: center;
    padding: 25px 0 0px;
    gap: 35px;
}

.typePlayer {
    height: 30px;
    width: 65px;
    background: transparent;
    position: relative;
    overflow: hidden;
    background-position: bottom;
    transition: background 0.3s ease;
}

.typePlayer:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background: linear-gradient(to right, #FFFFFF00, #0C1830, #FFFFFF00);
    transition: width 0.3s ease;
}

.typePlayer.active:before {
    width: 100%;
}

.typePlayerText {
    font-weight: 500 !important;
    font-size: var(--small) !important;
    cursor: pointer;
    text-align: center;
    color: var(--text-grey);
    transition: all 0.5s;
}

.typePlayerTextActive {
    color: var(--primary-color);
}

.leaderboard_image_section {
    min-height: 42px;
    min-width: 42px;
    max-height: 42px;
    max-width: 42px;
    border-radius: 50%;
    overflow: hidden;
}

.leaderboard_image_section .imageTextBox {
    width: 100%;
    height: 100%;
    border-radius: 100px;
    border: none;
    color: var(--text-white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: var(--normal),
}

.leaderboard_stats_section {
    padding: 20px 30px;
    display: flex;
    gap: 20px;
    border-bottom: 2px solid var(--primary-color);
}

.leaderboard_stats_section p {
    font-weight: 500 !important;
    font-size: var(--normal) !important;
    color: var(--primary-color) !important;
    margin-bottom: 5px;
}

.leaderboard_stats_section span {
    font-size: var(--small) !important;
    font-weight: 500 !important;
    color: var(--text-grey) !important;
    margin-bottom: 5px;
}

.leaderboard_stats_max_height {
    /* max-height: 450px; */
    /* height: calc(100vh - 397px);
    overflow-y: auto;
    scrollbar-color: transparent transparent;
    margin: 0 auto;
    -ms-overflow-style: none;
    scrollbar-width: none; */
    opacity: 1;
}

.leaderboard_stats {
    display: flex;
    gap: 9px;
    min-height: 15px;
    flex-wrap: wrap;
}

.leaderboard_stats p {
    font-size: var(--ex-small) !important;
    font-weight: 500 !important;
    color: var(--text-grey) !important;
}

.leaderboard_divider {
    border: 1px solid var(--primary-color) !important;
}

/* Player Milestone */
.leaderboard_player_milestone {
    display: flex;
    gap: 10px;
    margin-top: 15px;
    flex-wrap: wrap;
}

.player_milestone_section {
    height: 15px;
    display: flex;
    gap: 9px;
}

.leaderboard_player_milestone p {
    font-size: var(--ex-small) !important;
    font-weight: 500 !important;
    color: var(--text-grey) !important;
}

@media screen and (max-width:375px) {
    .leaderboard_stats_section {
        padding: 12px 20px;
    }

    .leaderboard_stats_section p {
        font-size: var(--small) !important;
    }

    .leaderboard_stats p,
    .leaderboard_player_milestone p {
        font-size: var(--ex-small) !important;
    }

    .leaderboard_image_section {
        min-width: 35px;
        min-height: 35px;
        max-width: 35px;
        max-height: 35px;
    }

    .leaderboard_image_section .imageTextBox {
        font-size: var(--ex-small);
    }
}