.extra_run_section{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: 10px 0px;
}

.extra_run_section p {
    color: var(--theme-primary) !important;
    font-weight: 600 !important;
    font-size: var(--fs-sm) !important;
}

.extra_run_section.scores p {
    color: var(--color-white) !important;
}