/* .container {
  display: block;
  position: relative;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

}

.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: relative;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid var(--primary-color);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container:hover input~.checkmark {
  background-color: transparent;
}

.container input:checked~.checkmark {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border: none;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.container input:checked~.checkmark:after {
  display: block;
}

.container .checkmark:after {
  width: 3px;
  height: 8px;
  border: solid var(--text-white);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

.container {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.container input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.checkmark {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
}

.container .checkmark svg {
  width: 20px;
  height: 20px;
  color: var(--text-white);
}

.container:hover .checkmark {
  background-color: rgba(0, 123, 255, 0.1);
}

.container input:checked~.checkmark {
  background-color: var(--secondary-color);
  box-shadow: var(--shadow);
  border: none;
}

.container input:checked~.checkmark::after {
  display: block;
}